# 服务监听地址
CAPTION_MANAGER_HOST=127.0.0.1
CAPTION_MANAGER_PORT=1357

# 过滤标签文件名（位于 filtering_tags/ 下）
CAPTION_MANAGER_BLACKLIST_TAGS_FILE=blacklist_tags.txt
CAPTION_MANAGER_OVERLAP_TAGS_FILE=overlap_tags.json
CAPTION_MANAGER_CHARACTER_TAGS_FILE=character_tags.json
CAPTION_MANAGER_DEBUG=true